@media (max-width : 1510px) {
    .hero-section .container {
        padding: 100px 0;
    }

    .hero-section .hero-img {
        width: 685px;
        height: 456.39px;
    }

    .project-section .hero-img {
        width: 719px;
        height: 448px;
    }

    .customise-section .hero-img {
        width: 670px;
        height: 499.03px;
    }

    .price-card-white {
        max-width: 437.33px;
        max-height: 654px;
    }

    .price-card-blue {
        max-width: 437.33px;
    }
}

@media (max-width : 1400px) {
    .hero-section .container {
        padding: 100px 0;
    }

    h2,
    h1 {
        font-size: 64px !important;
    }

    .hero-section .hero-img {
        width: 526px;
        height: 350.45px;
    }

    .project-section .hero-img {
        width: 527.74px;
        height: 328.48px;
    }

    .extension-section .hero-img {
        width: 459px;
        height: 320.5px;
    }

    .customise-section .hero-img {
        width: 534px;
        height: 397.95px;
    }

    .price-card-white {
        max-width: 341.33px;
        max-height: 697px;
    }

    .price-card-blue {
        max-width: 341.33px;
        max-height: 853px;
    }

    .client img {
        width: 95px;
        height: 95px;
    }
}

/* .responsive-nav-links */
@media (max-width : 1200px) {
    .nav-menu {
        display: none;
    }

    .responsive-nav-links {
        display: flex;
    }

    .responsive-nav-links:hover {
        .responsive-links {
            display: grid;
        }
    }

    .dropdown-products {
        top: 0;
        right: 100%;
        left: auto;
        width: 307px;
        padding: 0 37px 0 27px;
    }

    nav ul {
        gap: 24px;
    }

    .after-yellow::after {
        left: 0;
    }

    .your-data .after-yellow::after {
        right: 0;
    }
}

@media (max-width : 1110px) {
    .hero-img {
        width: 500px !important;
    }

    h2,
    h1 {
        font-size: 58px !important;
    }

    .favourite-apps .align {
        gap: 0;
        justify-content: space-between;
    }

    .price-section .align {
        flex-wrap: nowrap;
        gap: 16px;
    }

    .clients-section h2 {
        width: 612px;
    }

}

@media (max-width : 1080px) {

    h2,
    h1 {
        font-size: 54px !important;
    }

    .align {
        flex-direction: column;
        text-align: center;
        gap: 60px;
    }

    .work-section img {
        width: 65%;
    }

    .your-data img {
        width: 85%;
    }

    .favourite-apps img {
        width: 44%;
    }

    .hero-content {
        max-width: none !important;
        width: auto !important;
    }

    .project-section h2 {
        margin: 0 auto;
    }

    .price-section .align {
        flex-wrap: wrap;
    }

    .btn-primary {
        margin: 0 auto;
    }

    .hero-section .align {
        gap: 100px
    }

    .hero-section .hero-img {
        width: 551px;
        height: 367px;
    }

    .project-section .hero-img {
        width: 561px;
        height: 349px;
    }

    .extension-section .hero-img {
        width: 557px;
        height: 388.93px;
    }

    .work-section .align,
    .your-data .align {
        flex-direction: column-reverse;
        gap: 100px;
    }

    .sponsor-section .align {
        gap: 100px;
    }

    .tryout-section .hero-content {
        text-align: left;
    }

    .tryout-section .btn-primary,
    footer .btn-primary {
        margin: 0;
    }

    .tryout-section .hero-content .align {
        margin: 0;
        flex-direction: row;
        justify-content: flex-start;
    }

    footer img {
        width: 351.68px;
        height: 62px;
    }

    footer .align {
        text-align: left;
        gap: 100px;
    }

    footer .container .align:first-child div:first-child {
        width: 486px;
        gap: 24px;
    }

    footer .container .align:first-child div:last-child {
        width: 201px;
    }

    footer .p3 {
        line-height: 30px;
    }

    footer ul {
        gap: 51px;
    }

    footer .align:last-child {
        align-items: flex-start;
        gap: 60px;
    }

    .clients-section .align {
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }

    .client-box {
        width: 92%;
        display: flex;
        flex-direction: column;
    }

    .client {
        display: grid;
        gap: 20px;
        margin-top: 25px;
        text-align: left;
    }

    .client-box .p2 {
        margin: 29px 0 21px;
    }

    .client-detail {
        gap: 6px;
    }

    .clients-section img {
        width: 70px;
        max-height: 70px;
        margin: 0;
    }

    .clients-section .align {
        text-align: left;
    }

    .price-section ul {
        text-align: left;
    }

    .price-section .align {
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }

    .price-section.p1 {
        font-size: 31px;
    }

    .price-card-blue {
        padding: 61px 44px;
    }
}

/* .responsive-full-navbar */
@media (max-width : 768px) {
    .clients-section h2 {
        width: 322px;
    }

    .nav-btn:not(.responsive-navbar .nav-btn),
    .responsive-nav-links {
        display: none;
    }

    .responsive-full-navbar {
        display: flex;
    }

    .responsive-full-navbar:hover {
        .responsive-navbar {
            display: grid;
        }
    }

    .responsive-links,
    .responsive-navbar {
        top: 48px;
    }

    .nav-btn {
        flex-direction: column;
    }

    .btn-gold {
        padding: 25px 40px;
        width: fit-content;
        height: auto;
    }

    header .btn-primary {
        width: fit-content;
        height: auto;
        padding: 28px 12px;

        i {
            display: none;
        }
    }
}

@media (max-width: 615px) {

    .hero-section .container,
    .container {
        padding: 49px 0;
    }

    .hero-img {
        width: 307px !important;
        height: 220px !important;
    }

    .sponsor-section h2 {
        width: 100%;
    }

    .sponsor-section .align {
        gap: 60px;
    }

    .clients-section h2 {
        width: auto;
    }

    footer .container .align:first-child div:first-child {
        width: auto;
    }

    footer img {
        width: 231.68px;
        height: 39px;
    }

    footer ul:not(footer .align .align:last-child ul) {
        gap: 30px;
        flex-direction: column;
    }

    h2,
    h1 {
        font-size: 39px !important;
    }

    .logo {
        width: 167px;
        height: auto;
    }

    .tryout-section img {
        width: 50px;
    }

    .hero-content p {
        margin: 24px 0 28px;
    }

    .hero-section .align {
        gap: 0;
    }

    section .align {
        gap: 43px !important;
    }

    .sponsor-section .hero-content {
        margin: 0 auto 37px;
    }

    footer .align {
        gap: 50px;
    }
}

/* adjustmetns for dropdown product in small screen */
@media(max-width : 567px) {
    .dropdown-products {
        right: 18%;
        left: auto;
        width: 275px;
        padding: 0 16px;
    }
}

@media (max-width: 411px) {
    .clients-section .after-yellow::after {
        bottom: 28px;
    }
}

@media (max-width : 380px) {

    h2,
    h1 {
        font-size: 36px !important;
    }

    .container {
        padding: 80px 0;
    }

    .hero-section .hero-img {
        width: 286px;
        height: 191px;
    }

    .sponsor-section h2 {
        width: 100%;
    }

    .logo {
        width: 134px;
        height: 24px;
    }

    .project-section .hero-img {
        width: 286px;
        height: 177px;
    }

    .extension-section .hero-img {
        width: 284.5px;
        height: 198.65px;
    }

    .customise-section .hero-img {
        width: 288px;
        height: 214.62px;
    }

    .client img {
        width: 65px;
        height: 65px;
    }

    .p1 {
        font-size: 18px;
    }

    .client-box {
        text-align: left;
    }

    .client {
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 40px;
        text-align: left;
    }

    .clients-section .align img {
        margin: 0;
    }

    .p2 {
        font-size: 16px;
    }

    .tryout-section .hero-content p {
        font-size: 18px;
    }

    .tryout-section img {
        height: 36px;
        width: 35px;
    }

    footer .container .align:first-child div:first-child {
        width: fit-content;
    }

    footer a:not(.btn-primary) {
        display: block;
    }

    footer ul {
        flex-direction: column;
    }

    footer .align:first-child ul {
        gap: 20px;
    }

    footer .container .align:first-child div ul {
        gap: 16px;
    }

    footer .container .align:last-child .align:last-child ul {
        flex-direction: row;
    }

    .price-section .p1 {
        font-size: 30px;
    }

    .price-card-blue,
    .price-card-white {
        max-width: 289px;
        max-height: none;
        padding: 20px;
        text-align: left;
    }

    .price-section .btn-primary {
        margin: 0;
    }
}
